.main {
  position: relative;
  height: 100%;
}

.container {
  text-align: center;
  padding: 1.8em;
}

.row {
  padding: 0.5em;

}

.button-container {
  display: flex;
  flex-flow: row inherit;
  text-align: center;
  align-items: baseline;
  justify-content: space-between;
}

button {
  height: 100%;
}
