<div class="main">
  <div class="container">
    <div class="row">
      <div class="button-container">
        <button mat-stroked-button class="btn btn-outline-primary" (click)="backward()"><</button>
        <h2>Highest temperature: {{temp_max}}°C</h2>
        <h2>{{ current_date }}</h2>
        <h2>Lowest temperature: {{temp_min}}°C</h2>
        <button mat-stroked-button class="btn btn-outline-primary" (click)="forward()">></button>
      </div>
    </div>
  </div>
</div>

<app-weather-info [forecast]="current_forecast" ></app-weather-info>

