<div class="modal-content-wrapper">
  <h1>{{data.forecast.date}}</h1>
  <mat-dialog-content>
    <h2>{{data.dayTime}}</h2>
    <h2>{{dayTimeData.tempmax}}°C ... {{dayTimeData.tempmin}}°C</h2>
    <h2>{{dayTimeData.phenomenon}}</h2>
    <h3>{{dayTimeData.text}}</h3>
    <div *ngIf="dayTimeData.peipsi != null">
      <p *ngIf="dayTimeData.peipsi != ''">
        <strong>
          Peipsi lake:
        </strong>
        {{dayTimeData.peipsi}}
      </p>
      <p *ngIf="dayTimeData.sea != ''">
        <strong>
          Sea:
        </strong>{{dayTimeData.sea}}
      </p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="modal-footer">
    <button mat-stroked-button class="btn btn-outline-primary" (click)="close()">Cancel</button>
  </mat-dialog-actions>
</div>
